main {
  min-height: 80vh;
}
.containerBackground {
  background: #171717;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.videoBackground {
  background: #171717;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.searchGroup {
  position: relative;
  width: 500px;
  margin: auto;
}
.selectCountry {
  text-align: center;
  color: white;
  background-color: #0000 !important;
  font-size: 16px;
}

.videoGroup {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  min-height: 80vh;
}
.videoGroup ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.videoGroup ul li {
  list-style: none;
  width: 23%;
  background: #d9d9d9;
  border-radius: 20px;
  margin: 10px;
  padding: 15px;
}
.videoGroup ul li a {
  text-decoration: none;
}
.videoGroup ul li .headerCategory h1 {
  color: #000000;
  font-size: 20px;
}
.videoGroup ul li .footerCategory p {
  color: #000000;
  font-size: 18px;
}

.video-them {
  width: 234px;
  height: 234px;
}
.video-them img {
  width: 100%;
}
.video-react-controls-enabled {
  padding-top: 0px !important;
}

.video-react-video {
  width: 100%;
}

.video-Player {
  position: relative;
}

button.close {
  position: absolute;
  right: 5%;
  top: 30%;
  border: 0px;
  border-radius: 5%;
  width: 30%;
  height: 30%;
  padding: 0px;
}

.video-overlay {
  position: absolute;
  left: 0px;
  top: 100px;
  margin: 10px;
  padding: 5px 5px;
  font-size: 20px;
  font-family: Helvetica;
  color: #fff;
  background-color: rgba(50, 50, 50, 0.3);
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.BeerListItem-img {
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 250px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

/* ======= */
/* .video-player {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-player video {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.overlay img {
  max-width: 100%;
  max-height: 100%;
} */

.videoImage {
  height: 234px;
  width: 234px;
}

/* =========== */
.person-container {
  position: relative;
}

.person {
  position: absolute;
  width: 100px;
  height: 100px;
}

.person1 {
  top: 0;
  left: 0;
}

.person2 {
  top: 0;
  right: 0;
}

.person3 {
  bottom: 0;
  left: 0;
}

.person4 {
  bottom: 0;
  right: 0;
}

.person img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.text-view {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.person1-view {
  left: 110%;
}

.person2-view {
  right: 110%;
}

.person3-view {
  left: 110%;
}

.person4-view {
  right: 110%;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.scrollable-paragraph-container {
  height: 150px; /* Set the height of the container */
  overflow: auto; /* Add scrollbars when content overflows */
}

.scrollable-paragraph {
  margin: 0;
  padding: 0px;
  color: #fff;
}
