main {
  min-height: 80vh;
}
.containerBackground {
  background: #171717;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.videoBackground{
  background: #171717;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.searchGroup {
  position: relative;
  width: 500px;
  margin: auto;
}
.selectCountry {
  text-align: center;
  color: white;
  background-color: #0000 !important;
  font-size: 16px;
}
.videoGroup {
  width: 100%;
 padding-left:10%;
 padding-right: 10%; 
   
}
.videoGroup ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.videoGroup ul li {
  
  list-style: none;
  width: 23%;
  background: #D9D9D9;
  border-radius: 20px;
  margin: 10px;
  padding: 15px;
}
.videoGroup ul li a{
text-decoration: none;
}
.videoGroup ul li .headerCategory h1 {
  color: #000000;
  font-size: 20px;
}
.videoGroup ul li .footerCategory p {
  color: #000000;
  font-size: 18px;
}

.video-them{
  Width:100%;
Height:234px;
}
.video-them img{
  Width: 100%;
 
}
 .video-react-controls-enabled{
  padding-top:0px!important;
 }

 .video-react-video {
  width: 100%;
}

.video-Player{
  position: relative;
}

button.close {
  position: absolute;
  right: 5%;
  top: 5%;
  border: 0px;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}